/* moin overrides to monobook styles */

/* moin uses #page rather than #content for the main page content.
setup #page as #content from the monobook.css and remove margins
and paddings from #content */


a.www:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.http:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.https:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.file:before {content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.ftp:before {content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.nntp:before {content: url(../img/moin-news.png); margin: 0 0.2em;}
a.news:before {content: url(../img/moin-news.png); margin: 0 0.2em;}
a.telnet:before {content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.irc:before {content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.mailto:before {content: url(../img/moin-email.png); margin: 0 0.2em;}
a.attachment:before {content: url(../img/moin-attach.png); margin: 0 0.2em;}
a.badinterwiki:before {content: url(../img/moin-inter.png); margin: 0 0.2em;}
a.interwiki:before {content: url(../img/moin-inter.png); margin: 0 0.2em;}

body {
    background: #f9f9f9 url('../img/headbg.jpg') 0px 0px no-repeat;
}

#page {
    margin: 2em 0 0 12.2em;
    padding: 0em 0.8em 0.8em 0.8em;
    background: White;
    border: 1px solid #aaaaaa;
    border-right: none;
    line-height: 1.5em;
    position: relative;
    z-index: 2;
}

#content {
    margin: 0;
    border: none;
    padding: none;
}

#p-personal li.pt-userpage {
    background: url('../img/user.gif') top left no-repeat;
    padding-left: 20px;
}


/* message set as usermessage from base css */

#message {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: Black;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    padding: 0.5em 1em;
    vertical-align: middle;
}

/* diff styling copied from modern theme */

.diff {
	width:99%;
}

.diff-header {
	font-weight: bold;
}

.diff-title {
	background-color: #C0C0C0;
}

.diff-added {
	background-color: #E0FFE0;
	vertical-align: sub;
}

.diff-removed {
	background-color: #FFFFE0;
	vertical-align: sub;
}

.diff-added span {
	background-color: #80FF80;
}

.diff-removed span {
	background-color: #FFFF80;
}

/* copied from the modern theme */

#credits, #version, #timings{
	margin: 5px 10px;
	padding: 0;
	text-align: center;
	font-size: 0.88em;
	color: #6C7680;
	font-size: 12px;
}

#credits li, #timings li {
	display: inline;
	padding: 0 2px;
	margin: 0 4px;
}

/* We use here dumb css1 ids because of IE suckiness */
#editor-textarea, #editor-comment {
    width: 100%;
}

div.codearea { /* the div makes the border */
    border: 1px dashed #2f6fab;
}

/* Mozilla specific rounded border effect */

#page {
    -moz-border-radius: 5px 0px 0px 0px;
}

.pBody {
	font-size: 95%;
	background-color: white;
	color: black;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0;
}

#p-cactions li {
    -moz-border-radius: 10px 10px 0px 0px;
}

#p-cactions li a {
    -moz-border-radius: 10px 10px 0px 0px;
}



	#column-one {
		padding-top: 10px;
	}
#p-dhcp4java ul {	list-style-type: none;
		list-style-image: none;
		margin: 0px;
		background: white;
		padding:0; }
#p-dhcp4java li {	margin: 0;
		padding:0px 0px 0px 5px; }
#p-dhcp4java li.current { background: Orange; }
#p-dhcp4java a {	text-decoration: none; }
#p-dhcp4java a:hover { text-decoration: underline; }

#p-dhcp4java h5 {
	background: transparent;
	display: inline;
	height: 1em;
	white-space: nowrap;

		margin: 0;
		padding: 0.2em 8px;
		text-align:left;
		border: 0;
		font-weight: bold;
		font-size: 1em;
		color: black; }