<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
		</layout>
	</appender>
	<appender name="archive" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm"></param>
		<param name="File" value="archive/dhcp-archive"></param>
		<param name="Append" value="true"></param>
		<param name="threshold" value="info"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601};%m%n"></param>
		</layout>
	</appender>
	<logger name="archive.dhcp" additivity="false">
		<level value="info"/>
		<appender-ref ref="archive"/>
	</logger>
	<root>
		<priority value="info"></priority>
		<appender-ref ref="stdout"/>
	</root>
	
</log4j:configuration>